.userTable {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.userTable table {
    width: 100%;
    margin-top: 30px;
}

.userTable table thead th {
    background-color: beige;
    text-align: center;
}

.userTable table tbody td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.actionBtn {
    margin: 0 10px;
}